{{> head }}
{{> navbar }}
<div class="row">
    <div class="col-8">
        <h1>Imagen de fondo</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, nemo non deleniti magnam sint quo corrupti fuga in perspiciatis et itaque quidem possimus, ipsam ea vitae, exercitationem earum nisi rerum?</p>
    </div>
    <div class="col-4">
        <img src="assets/img/img1.jpg" class="img-thumbnail">
    </div>
</div>
{{> footer }}